In [11]:
import pandas as pd
import numpy as np
%matplotlib inline
import plotly.express as px
import plotly.graph_objects as go

In [12]:
df_test=pd.read_csv('Documents/ads_covid-19/data/processed/Covid_full_data.csv',sep=';')
df_test.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Relative_cases,Vaccination_Rate
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.000013,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.000013,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.000013,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.000013,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,0.000013,NaN

In [39]:
country_list=['Italy',
              'India',
              'Spain',
              'Germany',
              'United States',
             ]

In [40]:
df_test2  = pd.DataFrame()

In [41]:
for each in country_list:
    df_test2= df_test2.append(df_test[df_test['location']==each])

C:\Users\kiran\AppData\Local\Temp\ipykernel_13920\433529568.py:2: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

C:\Users\kiran\AppData\Local\Temp\ipykernel_13920\433529568.py:2: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

C:\Users\kiran\AppData\Local\Temp\ipykernel_13920\433529568.py:2: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

C:\Users\kiran\AppData\Local\Temp\ipykernel_13920\433529568.py:2: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

C:\Users\kiran\AppData\Local\Temp\ipykernel_13920\433529568.py:2: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

In [42]:
df_test2=df_test2.reset_index(drop=True)

In [43]:
df_test2

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Relative_cases,Vaccination_Rate
0,ITA,Europe,Italy,2020-01-31,2.0,2.0,NaN,NaN,NaN,NaN,...,NaN,3.18,83.51,0.892,NaN,NaN,NaN,NaN,0.000003,NaN
1,ITA,Europe,Italy,2020-02-01,2.0,0.0,NaN,NaN,NaN,NaN,...,NaN,3.18,83.51,0.892,NaN,NaN,NaN,NaN,0.000003,NaN
2,ITA,Europe,Italy,2020-02-02,2.0,0.0,NaN,NaN,NaN,NaN,...,NaN,3.18,83.51,0.892,-6878.1,-9.02,-6.19,-113.93719,0.000003,NaN
3,ITA,Europe,Italy,2020-02-03,2.0,0.0,NaN,NaN,NaN,NaN,...,NaN,3.18,83.51,0.892,NaN,NaN,NaN,NaN,0.000003,NaN
4,ITA,Europe,Italy,2020-02-04,2.0,0.0,NaN,NaN,NaN,NaN,...,NaN,3.18,83.51,0.892,NaN,NaN,NaN,NaN,0.000003,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4398,USA,North America,United States,2022-06-22,86636306.0,184074.0,99152.714,1014835.0,860.0,318.286,...,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN,26.023546,NaN
4399,USA,North America,United States,2022-06-23,86757621.0,121315.0,99913.286,1015342.0,507.0,329.714,...,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN,26.059986,NaN
4400,USA,North America,United States,2022-06-24,86909716.0,152095.0,99042.571,1015789.0,447.0,347.286,...,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN,26.105672,NaN
4401,USA,North America,United States,2022-06-25,86949088.0,39372.0,102586.571,1015933.0,144.0,365.143,...,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN,26.117498,NaN
4402,USA,North America,United States,2022-06-26,86967639.0,18551.0,103076.857,1015938.0,5.0,360.714,...,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN,26.123070,NaN

In [18]:

sel_countries = df_test2[df_test2['location']=='India']
sel_countries.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Relative_cases,Vaccination_Rate
878,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,NaN,NaN,...,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN,7.176644e-08,NaN
879,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,NaN,NaN,...,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN,7.176644e-08,NaN
880,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,NaN,NaN,...,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN,7.176644e-08,NaN
881,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,NaN,NaN,...,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN,1.435329e-07,NaN
882,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,NaN,NaN,...,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN,2.152993e-07,NaN

# The relative cases overtime of Covid infectors for 5 Countries

In [44]:
import dash
dash.__version__
from dash import dcc
from dash import html

app = dash.Dash()
app.layout = html.Div([
    
    html.Label('Multi-Select Country'),
    
       dcc.Dropdown(
        id='country_drop_down',
        options=[{'label': i, 'value': i}
                for i in df_test2['location'].unique() ],
           
        value=['India','Germany'], # which are pre-selected
        multi=True
    ),   
        
    dcc.Graph(id='main_window_slope', figure={})
])

In [45]:
from dash.dependencies import Input, Output

@app.callback(
    Output('main_window_slope', 'figure'),
    [Input('country_drop_down', 'value')])
def update_graph(option):
    print(option)
    print(type(option))
    
    if type(option)!=str:
        dff = df_test2[df_test2['location'].isin(option) ]
    else:
        dff = df_test2[df_test2['location']==option]
        

    # dff = df_test2[df_test2["location"] == option]

    # Plotly Express
    
    fig = px.line(dff, x='date', y='Relative_cases',color='location',title='Covid Relative Cases Over Time')
    
    return fig

In [46]:
app.run_server(debug=True, use_reloader=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on
['India', 'Germany']
<class 'list'>
['India', 'Germany', 'Spain']
<class 'list'>
['India', 'Germany', 'Spain', 'United States']
<class 'list'>
['India', 'Germany', 'Spain', 'United States', 'Italy']
<class 'list'>

# The relative cases overtime of Covid infectors for all Countries

In [31]:
import dash
dash.__version__
from dash import dcc
from dash import html

app = dash.Dash()
app.layout = html.Div([
    
    html.Label('Multi-Select Country'),
    
       dcc.Dropdown(
        id='country_drop_down',
        options=[{'label': i, 'value': i}
                for i in df_test['location'].unique() ],
           
        value=['India','Germany'], # which are pre-selected
        multi=True
    ),   
        
    dcc.Graph(id='main_window_slope', figure={})
])

In [20]:
from dash.dependencies import Input, Output

@app.callback(
    Output('main_window_slope', 'figure'),
    [Input('country_drop_down', 'value')])
def update_graph(option):
    print(option)
    print(type(option))
    
    if type(option)!=str:
        dff = df_test[df_test['location'].isin(option) ]
    else:
        dff = df_test[df_test['location']==option]
        

    # dff = df_test2[df_test2["location"] == option]

    # Plotly Express
    
    fig = px.line(dff, x='date', y='Relative_cases',color='location',title='Covid Relative Cases Over Time')
    
    return fig

In [21]:
app.run_server(debug=True, use_reloader=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

# The vaccination rate over time for all Countries

In [34]:
df_test2 = df_test[(df_test['date']>'2021-01-01')]

In [35]:
import dash
dash.__version__
from dash import dcc
from dash import html

app = dash.Dash()
app.layout = html.Div([
    
    html.Label('Multi-Select Country'),
    
       dcc.Dropdown(
        id='country_drop_down',
        options=[{'label': i, 'value': i}
                for i in df_test2['location'].unique() ],
           
        value=['India','Germany'], # which are pre-selected
        multi=True
    ),   
        
    dcc.Graph(id='main_window_slope', figure={})
])

In [36]:
from dash.dependencies import Input, Output

@app.callback(
    Output('main_window_slope', 'figure'),
    [Input('country_drop_down', 'value')])
def update_graph(option):
    print(option)
    print(type(option))
    
    if type(option)!=str:
        dff = df_test2[df_test2['location'].isin(option) ]
    else:
        dff = df_test2[df_test2['location']==option]
        

    # dff = df_test2[df_test2["location"] == option]

    # Plotly Express
    
    fig = px.line(dff, x='date', y='Vaccination_Rate',color='location',title='Vaccination Rate Over Time')
    
    return fig

In [37]:
app.run_server(debug=True, use_reloader=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on
['India', 'Germany']
<class 'list'>
['India', 'Germany', 'Angola']
<class 'list'>
['India', 'Germany', 'Angola', 'Algeria']
<class 'list'>
['India', 'Germany', 'Angola', 'Algeria', 'Burkina Faso']
<class 'list'>
['India', 'Germany', 'Angola', 'Algeria', 'Burkina Faso', 'Peru']
<class 'list'>
['India', 'Germany', 'Angola', 'Algeria', 'Burkina Faso', 'Peru', 'United Arab Emirates']
<class 'list'>
['India', 'Germany', 'Angola', 'Algeria', 'Burkina Faso', 'Peru', 'United Arab Emirates', 'Africa']
<class 'list'>
['India', 'Germany', 'Angola', 'Algeria', 'Burkina Faso', 'Peru', 'United Arab Emirates']
<class 'list'>
['India', 'Germany', 'Angola', 'Algeria', 'Burkina Faso', 'Peru']
<class 'list'>
['India', 'Germany', 'Angola', 'Algeria', 'Burkina Faso']
<class 'list'>
['India', 'Germany', 'Angola', 'Algeria']
<class 'list'>
['India', 'Germany', 'Angola']
<class 'list'>
['India', 'Germany']
<class 'list'>